[Unit]
Description=LED user-space driver daemon.

[Service]
Type=exec
ExecStart=/usr/bin/leddaemon.py heartbeat

[Install]
WantedBy=multi-user.target
