[Unit]
Description=OpenSSH Server
After=network.target
ConditionPathExists=!/etc/ssh/sshd_not_to_be_run

[Service]
Environment="SSHD_OPTS="
EnvironmentFile=-/etc/default/ssh
ExecStartPre=/usr/sbin/sshd -t
ExecStart=/usr/sbin/sshd -D $SSHD_OPTS
ExecReload=/usr/sbin/sshd -t
ExecReload=/usr/bin/kill -HUP $MAINPID
Type=simple

[Install]
WantedBy=multi-user.target
Alias=ssh.service
